{{template "base" .}}

{{define "title"}}Singin{{end}}

{{define "main"}}
<form action="/user/login" method="post" novalidate>
    {{with .Form}}
        {{with .Errors.Get "generic"}}
            <div class="error">{{.}}</div>
        {{end}}
        <div>
            <label for="">Email:</label>
            <input type="email" name="email" value='{{.Get "email"}}'/>
        </div>
    <div>
        <label for="">Password:</label>
        <input type="password" name="password" value=''/>
    </div>
    <div>
        <input type="submit" value="Login"/>
    </div>
    {{end}}
</form>
{{end}}